.git
.venv
__pycache__
*.pyc
.idea
dist
artifacts
.pytest_cache
.mypy_cache
.hf
.cache
**/.cache
**/cache/**
*.log
*.sqlite3
*.db
fixtures/*.docx
fixtures/**/*.docx
fixtures/**/*.pdf
fixtures/**/*.png
